<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode promoteServerVars="AUTH_USER,AUTH_TYPE" />

    <rewrite>
      <rules>

        <!-- https://github.com/tjanczuk/iisnode/issues/160#issuecomment-5606547 -->

        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
        </rule>

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
          <match url="^server/index.js\/debug[\/]?" />
        </rule>

        <rule name="StaticContent">
          <action type="Rewrite" url="app{REQUEST_URI}" />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server/index.js" />
        </rule>

      </rules>
    </rewrite>
    <modules>
      <remove name="WebDAVModule" />
    </modules>

  </system.webServer>
</configuration>
