
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #747474 ;
    border-top: 1px solid #e5e5e5;
    padding-left: 15px;
    padding-right: 15px;
}

#page-sub-header h2{
    margin-top: 0px;
}

#app-notice {
  clear: both;
  padding: 1.5em 0em;
}

.glyphicon-edit {
  margin-left: 4px;
}

.glyphicon-trash {
  margin-left: 12px;
}

.glyphicon-plus-sign,
.glyphicon-minus-sign {
  margin-right: 4px;
}

tr .template-details{
    display: none;
}

tr .showdetails .template-details{
    display: block;
    font-weight: normal;
}

a[ng-click]{
    cursor: pointer;
}

/* Customize container */
@media (min-width: 48em) {
    tbody th{
        width: 50%;
    }
}
