<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>CERMailer</title>
  <meta name="description" content="">
  <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="AppCtrl">
  <nav class="navbar navbar-inverse" bs-navbar>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">CERMailer</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
              <li data-match-route="/view1"><a href="#/view1">Products</a></li>
              <li data-match-route="/templates"><a href="#/templates">Templates</a></li>
              <li data-match-route="/reports"><a href="#/reports">Reports</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" name="searchBucket" ng-submit="searchbucket()">
          <div class="form-group">
            <input type="number" class="form-control" placeholder="bucket id" ng-model="bucketid" required>
          </div>
          <button type="submit" class="btn btn-default"  ng-disabled="searchBucket.$invalid">Submit</button>
        </form>
        <form class="navbar-form navbar-left" role="search" name="searchReport" ng-submit="searchreport()">
          <div class="form-group">
            <input type="number" class="form-control" placeholder="report id" ng-model="reportid" required>
          </div>
          <button type="submit" class="btn btn-default" ng-disabled="searchReport.$invalid">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  
  <div class="container">
    <div ng-view></div>
    
    <footer class="footer">
      <p>Copyright © Simply Accessible Inc. All Rights Reserved.  Angular seed app: v<span app-version></span></p>    
    </footer>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="templates/templates.js"></script>
  <script src="templates/templateFactory.js"></script>
  <script src="reports/reports.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
